
.vs/RecuperacaoPDS1Sem/CopilotIndices/0.2.1653.9816/CodeChunks.db-shm
.vs/RecuperacaoPDS1Sem/CopilotIndices/0.2.1653.9816/CodeChunks.db-wal
.vs/RecuperacaoPDS1Sem/CopilotIndices/0.2.1653.9816/SemanticSymbols.db-shm
.vs/RecuperacaoPDS1Sem/FileContentIndex/2f0ad88d-5c2a-49f7-8b7d-5af9296e9a91.vsidx
.vs/RecuperacaoPDS1Sem/CopilotIndices/0.2.1653.9816/SemanticSymbols.db-shm
.vs/RecuperacaoPDS1Sem/CopilotIndices/0.2.1653.9816/SemanticSymbols.db-shm
.vs/RecuperacaoPDS1Sem/CopilotIndices/0.2.1653.9816/SemanticSymbols.db-shm
.vs/RecuperacaoPDS1Sem/CopilotIndices/0.2.1653.9816/SemanticSymbols.db-shm
/.vs/RecuperacaoPDS1Sem/CopilotIndices
/.vs/RecuperacaoPDS1Sem/CopilotIndices/0.2.1653.9816
/.vs/RecuperacaoPDS1Sem/FileContentIndex
/.vs/RecuperacaoPDS1Sem/CopilotIndices/0.2.1653.9816
/.vs/RecuperacaoPDS1Sem/FileContentIndex
*.db-shm
